.container {
    width: 1000px;
    height: 400px;
    /* padding: 50px; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);
}

.container form {
    padding: 0 50px 50px 50px;
}